{% comment %} <div class="octane-ai-quiz " data-quiz-id="r80RJDtPWd567urz" data-embed-type="fullpage" data-mobile-height="match_browser" data-desktop-height="match_browser"></div><script src="https://app.octaneai.com/wyes7217h6xlj0vq/quiz.js" async defer></script> {% endcomment %}
<!--
  <div class="octane-ai-quiz old-quiz" data-quiz-id="NPfXdXhq1W3TxfIW" data-embed-type="fullpage" data-mobile-height="match_browser" data-desktop-height="match_browser" style='padding-top: 40px;'></div><script src="https://app.octaneai.com/wyes7217h6xlj0vq/quiz.js" async defer></script>
-->
<!--
  <div class="octane-ai-quiz new-quiz" style='display: none;' data-quiz-id="OTmQRKYsWtd4iJ1e" data-embed-type="fullpage" data-mobile-height="match_browser" data-desktop-height="match_browser"></div><script src="https://app.octaneai.com/wyes7217h6xlj0vq/quiz.js" async defer></script>
-->
<div
  class="octane-ai-quiz "
  data-abtest-id="297de5cb"
  data-embed-type="fullpage"
  data-mobile-height="match_browser"
  data-desktop-height="match_browser"
></div>
<script src="https://app.octaneai.com/wyes7217h6xlj0vq/quiz.js" async defer></script>

<script>
  function Scrolldown() {
    window.scroll(0,80);
  }

  window.onload = Scrolldown;
</script>

{% schema %}
{
    "name": "BB - Quiz",
    "tag": "section",
    "class": "quiz",
    "settings": [
    ],
    "presets": [
        {
            "name": "BB - Quiz"
        }
    ]
}
{% endschema %}
