<div class="octane-ai-quiz old-quiz" data-quiz-id="OizyPx4DvsjWizYd" data-embed-type="fullpage" data-mobile-height="match_browser" data-desktop-height="match_browser" style='padding-top: 40px;'></div><script src="https://app.octaneai.com/wyes7217h6xlj0vq/quiz.js" async defer></script>

<script>
function Scrolldown() {
  window.scroll(0,80); 
}

window.onload = Scrolldown;
</script>

{% schema %}
    {
        "name": "Healf Zone Quiz",
        "tag": "section",
        "class": "quiz",
        "settings": [
        ],
        "presets": [
            {
                "name": "Healf Zone Quiz"
            }
        ]
    }
{% endschema %}
