<div class="related-blogs">
  <h2 class="related-blogs-title">Related Blogs</h2>
  <div class="blog-list">
    {% assign product_tags = product.tags %}
    {% for article in blogs['health-journal'].articles %}
      {% assign article_tags = article.tags %}
      {% for tag in product_tags %}
        {% if article_tags contains tag %}
          <div class="blog-item">
            <a href="{{ article.url }}">
              <img src="{{ article.image | img_url: 'medium' }}" alt="{{ article.title }}" class="blog-item-image">
              <h3 class="blog-item-title">{{ article.title }}</h3>
            </a>
          </div>
          {% break %}
        {% endif %}
      {% endfor %}
    {% endfor %}
  </div>
</div>
