/* Related Blogs Section */
.related-blogs {
  padding: 20px;
  background-color: #f9f9f9;
  margin-top: 20px;
  text-align: center;
}

.related-blogs-title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: start; /* Align title to the start */
}

/* Slick Carousel Customization */
.slick-arrow {
  border-radius: 50%;
  padding: 10px;
  position: absolute;
  z-index: 2;
}

.slick-prev {
  left: 0px;
}

.slick-next {
  right: 0px;
}

/* Blog Item Styling */
.blog-item {
  padding: 10px;
  text-align: center;
}

.blog-item-image {
  border-radius: 10px;
  width: 100%;
  height: auto;
}

.blog-item-title {
  font-size: 24px;
  line-height: 22px;
  margin-top: 16px;
  text-align: start;
  letter-spacing: -2px;
}
